/output_4_16_mine_finetune_lr1e-4_gamma_99_bs_64_mouth
/output_4_16_mine_finetune_lr1e-4_pre_200_mouth
/output_4_16_mine_finetune_lr1e-5_mouth
/output_4_16_mine_finetune_lr2e-5_pre_100_mouth
/output_4_16_mine_finetune_lr5e-5_mouth
/dataSet4_16
/output_mine
/output_mine_mouth
/Participant Data
/lpc
/dataSet_mine
/bs_value
**/__pycache__/
*.log