player-connection-mode=Listen
player-connection-guid=3290815405
player-connection-debug=1
player-connection-project-name=UnityPuppet
player-connection-ip=192.168.2.5
player-connection-ip=169.254.58.97
player-connection-ip=10.211.55.2
player-connection-ip=10.37.129.2
-diag-profile-open-cl-jobs=True
wait-for-native-debugger=0
wait-for-managed-debugger=0
managed-debugger-fixed-port=0
hdr-display-enabled=0
